*{
    margin: 0px;
  
}
.card{
    margin: 50px;
    border-radius: 20px;
    border-color: blue;
    display: flex;

}
.card img{
    height: 250px;
    width: 220px;
    justify-content: left;
    padding-left: 20px;
    display: flex;
}
h2{
    justify-content: center;
    text-align: center;
    padding-bottom: 40px;
}
.card-body{
    text-align: center;
    padding: 20px;
    justify-content: center;
   
}
.card-body label{
    text-align: center;


}